.panel {
  position: absolute;
  background-size: cover;

  height: 100vh;
  width: 100%;
  display: flex;
  opacity: 0.8; /* 80% opacity */
  background-size: cover;
  background-position: center center;
  align-items: flex-start; 
  background-repeat: no-repeat;
}

.centered-text{
    color: white;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1.6;
}


.navbar {
  display: flex;

  justify-content: space-around;
  
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);

  width: 75%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  gap: 1rem; /* space between boxes */
}


.navbar a {
  color: rgb(236, 232, 232);
  text-decoration: none;
  margin: 0 1rem;
  font-family: "Liberation Mono", monospace;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


.slide{
  position: relative;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.01);
  text-align: center;
  z-index: 10;
}

body {
    margin: 0;
    padding-top: 70px;
    font-family: "Liberation Mono", monospace;

    background: black;
}
