.panel {
  position: relative;
  height: 100vh;
  width: 100%;
  display: block;
  opacity: 0.8; /* 80% opacity */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.centered-text{
    color: white;
    text-align: center;
}

.slide{
  position: absolute;
  width: 75%;
  margin: 50vh auto 2rem; /* top margin = 50% viewport height, center horizontally, 2rem bottom */
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

}

body {
    margin: 0;
    padding: 0;
    font-family: "Liberation Mono", monospace;

    background: black;
}
