.banner-image {
  width: 100%;
  display: block;
  opacity: 0.8; /* 80% opacity */
}

.centered-text{
    style="text-align: center"
}

body {
    margin: 0;
    padding: 0;
    font-family: "Liberation Mono", monospace;

}
