
body {
    margin: 0;
    padding-top: 70px;
    font-family: "Liberation Mono", monospace;
    color: white;
    background: black;
}

.panel {
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  opacity: 0.8; 
  background-size: cover;
  background-position: center center;
  align-items: flex-start; 
  background-repeat: no-repeat;
}

.slide {
    background-color: rgba(0, 0, 0, 0.6); /* semi-transparent black */
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    margin: auto;
}

.centered-text{
    color: white;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1.6;
}


.navbar {
  display: flex;
  justify-content: center;
  align-items: center; /* vertically center items */
  flex-wrap: nowrap;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  gap: 1rem; /* space between boxes */
}


.navbar a {
  color: rgb(236, 232, 232);
  text-decoration: none;
  margin: 0 1rem;

  background-color: rgba(255, 255, 255, 0.1); /* semi-transparent box */
  border: 1px solid rgba(255, 255, 255, 0.173); /* subtle border */
  font-family: "Liberation Mono", monospace;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}


.box-tab {
  display: block; /*it's a block element */
  text-decoration: none

}

.box-tab strong {
  display: block; /* Force strong to its own line */

}

.box-tab .box-content {
  display: block; /* Ensure span is also block-level */
  font-size: 0.875em;
  margin-top: 0.5em;
  color: white

}